// Primary Color
$red = #D30000
$red-60 = #E56666
$red-20 = #F6CCCC
$blue = #3C91E6
$blue-60 = #8ABDF0
$blue-20 = #D8E9FA
$blue-10 = #EBF4FC
// Semantic Color
$sblue = #00A1E4
$sblue-60 = #66C7EF
$sblue-20 = #CCECFA
$sgreen = #00CC66
$sgreen-60 = #66E0A3
$sgreen-20 = #CCF5E0
$sred = #DD403A
$sred-60 = #E67998
$sred-20 = #F7D2DD
$syellow = #F5B700
$syellow-60 = #F9D466
$syellow-20 = #FDF1CC
// Netral Color
$sblack = #00171F
$sblack-60 = #847F82
$sblack-20 = #D6D4D5
$sblack-10 = #EBEAEA
$sblack-5 = #F2F3F4
$white = #ffffff
$background = #F5F9FE

:export
  red $red;
  red60 $red-60;
  red20 $red-20;
  blue $blue;
  blue60 $blue-60;
  blue20 $blue-20;
  blue10 $blue-10;
  sblue $sblue;
  sblue60 $sblue-60;
  sblue20 $sblue-20;
  sgreen $sgreen;
  sgreen60 $sgreen-60;
  sgreen20 $sgreen-20;
  sred $sred;
  sred60 $sred-60;
  sred20 $sred-20;
  syellow $syellow;
  syellow60 $syellow-60;
  syellow20 $syellow-20;
  sblack $sblack;
  sblack60 $sblack-60;
  sblack20 $sblack-20;
  sblack10 $sblack-10;
  sblack5 $sblack-5;
  white $white;
  background $background
